.button {
    padding: 10px 20px;
    background-color: aqua;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
}

.textbox {
    display: block;
    padding: 10px;
    border: 1px solid rgb(132, 208, 252);
    border-radius: 5px;
    font-size: 14px;
    width: 200px;
}

.main {
    height: 90vh;
    align-items: center;
    justify-content: center;
    display: flex;
}

.caixa {
    border-radius: 10px;
    background-color: blueviolet;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 200px;
    width: 300px;
}